*.json
!$2a$10$TeCBpVH.cZevNUvrA6d4LeOZsCQg8NFdpMRI4xmzoI2EIbnKCRD7O.json
!$2a$10$Vgv7iaFcAYhjL5pdVmFXm.REUjpWx5ll7cQGeOHAhpi.V86S5JuS6.json
!$2a$10$asht7FV1XqJy0juUErV2meNKifhWBYUv2DHA3O9LBEoCy67YBNbC6.json
!$2a$10$akySX8qyIDV4olfE4QrcK.m3cEibShAEIEgoyGTzdHTqSHwc5AQMy.json
!usuarios.json
servidor
cliente
